[Unit]
Description=Scoring Engine Backend

[Service]
Type=simple
ExecStart=/usr/local/bin/engine-back
TimeoutStartSec=0
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target