{% extends 'base.html.j2' %}
{% block head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='/static/config.css'>
{% endblock %}
{% block content %}
<div class='services'>
    <nav class='services'>
        <ul>
            <li><a href='ldap' {% if service == 'LDAP': %} id='current' {% endif %}>LDAP</a></li>
            <li><a href='dns-linux' {% if service == 'DNS - Linux': %} id='current' {% endif %}>DNS - Linux</a></li>
            <li><a href='dns-windows' {% if service == 'DNS - Windows': %} id='current' {% endif %}>DNS - Windows</a></li>
            <li><a href='ecomm' {% if service == 'Ecommerce': %} id='current' {% endif %}>Ecommerce</a></li>
            <li><a href='pop3' {% if service == 'POP3': %} id='current' {% endif %}>POP3</a></li>
            <li><a href='smtp' {% if service == 'SMTP': %} id='current' {% endif %}>SMTP</a></li>
            <li><a href='splunk' {% if service == 'Splunk': %} id='current' {% endif %}>Splunk</a></li>
        </ul>
    </nav>
</div>
<div class='configuration'>
    {% if service == 'LDAP': %}
    <h2>LDAP</h2>
    {% include 'ldap.tmpl.j2' %}

    {% elif service == 'DNS - Linux': %}
    <h2>DNS - Linux</h2>
    {% include 'dnsl.tmpl.j2' %}

    {% elif service == 'DNS - Windows':  %}
    <h2>DNS - Windows</h2>
    {% include 'dnsw.tmpl.j2'%}

    {% elif service == 'Ecommerce': %}
    <h2>Ecommerce</h2>
    {% include 'ecomm.tmpl.j2' %}

    {% elif service == 'POP3': %}
    <h2>POP3</h2>
    {% include 'pop3.tmpl.j2' %}

    {% elif service == 'SMTP': %}
    <h2>SMTP</h2>
    {% include 'smtp.tmpl.j2' %}

    {% elif service == 'Splunk': %}
    <h2>Splunk</h2>
    {% include 'splunk.tmpl.j2' %}
    {% else %}
    <h2>No configuration Selected. Select one from above!</h2>
    {% endif %}
</div>
{% if status != None %}
<script type='text/javascript'>
    window.addEventListener('load', (event)=>{
        alert( "Status Code: {{status}}\nInformation: {{info}}" )
    })

</script>
{% endif %}
{% endblock content%}
