{% block configuration %}
<form action='/config/ecomm' method='post'>
	<table>
		<tr>
			<td><label for='ecomm_ip'>IP Address</label></td>
			<td><input type='text' id='ecomm_ip' name='ecomm_ip' required> </td>
		</tr>
		<tr>
			<td><label for='ecomm_port'>Port</label></td>
			<td><input type='number' id='ecomm_port' name='ecomm_port' value='80' required></td>
		</tr>
		<tr><td></td><td><input type='submit' , value='Submit'></td></tr>
	</table>
</form>

{% endblock %}
