{% extends 'base.html.j2' %}
{% block head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='/static/scoring.css'>
<meta http-equiv="refresh" content="30">
{% endblock %}
{% block content %}
<h1>Oops</h1><br><h2>You have appeared to try to find a page that does not exist. I recommend turning around now.</h2>
{% endblock %}