{% block configuration %}
<form action='/config/pop3' method='post'>
	<table>
		<tr>
			<td><label for='pop_ip'>IP Address</label></td>
			<td><input type='text' id='pop_ip' name='pop_ip' required></td>
		</tr>
		<tr>
			<td><label for='pop_user'>Username:</label></td>
			<td><input type='text' id='pop_user' name='pop_user' required></td>
		</tr>
		<tr>
			<td><label for='pop_pwd'>Password:</label></td>
			<td><input type='text' id='pop_pwd' name='pop_pwd' required></td>
		</tr>
		<tr>
			<td></td>
			<td><input type='submit' , value='Submit'></td>
		</tr>
	</table>
</form>

{% endblock %}
