{% block configuration %}
<form action='/config/splunk' method='post'>
	<table>
		<tr>
			<td><label for='splunk_hash_file'>Hash File Location</label></td>
			<td><input type='text' id='splunk_hash_file' name='splunk_hash_file' required></td>
		</tr>
		<tr>
			<td><label for='splunk_ip'>IP Address</label></td>
			<td><input type='text' id='splunk_ip' name='splunk_ip' required></td>
		</tr>
		<tr>
			<td><label for='splunk_port'>Port</label></td>
			<td><input type='number' id='splunk_port' name='splunk_port' value='8000' required></td>
		</tr>

		<tr>
			<td></td>
			<td><input type='submit' , value='Submit'></td>
		</tr>
	</table>
</form>
{% endblock %}
