.services nav ul {
	list-style-type: none;
	margin-left: 10;
	margin-right: 10;
	padding: 0;
	overflow: hidden;
	background-color: white;
	display: block;

}

.services nav {
	margin: auto;
	width: 35.58%;
	padding: 0px;
	border: solid black 1px;
	text-align: center;
	margin-top: 1.5%;
}

.services nav li {
	float: left;
}

.services nav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.services nav li a:hover {
	background-color: dimgray;
}

#current {
	background: gray;
}
