table {
	margin: 0 auto;
	margin-top: 30px;
	align-self: center;
	align-content: center;
	display: flex;
	flex-direction: column;
	width: 75%;
	position: relative;
	border: solid black 2px;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
}

td, th {
	border: solid black 2px;
	width: 65%;
	padding: .6%;
}

.code {
	width: 10%;
}

.exp {
	width: 25%;
}

tr {
	width: 100%;
}
#odd_row {
	background-color: lightgray;
}