{% block configuration %}
<form action='/config/dns-windows' method='post'>
	<table>
		<tr>
			<td><label for='dnsw_ip'>IP Address</label></td>
			<td><input type='text' id='dnsw_ip' name='dnsw_ip' required></td>
		</tr>
		<tr>
			<td><label for='dnsw_domains'>Testing of Domains</label></td>
			<td><input type='text' id='dnsw_domains' name='dnsw_domains' required>
		</tr>
		<tr>
			<td colspan="2"><label for='dnsw_domains'>Split domains using a semi-colon (;).</label>
		</tr>
		<tr>
			<td></td>
			<td><input type='submit' , value='Submit'></td>
		</tr>
	</table>

</form>
{% endblock %}
