{% extends 'base.html.j2' %}
{% block head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='/static/login.css'>
{% endblock %}
{% block content %}
<div class="form">
    <form action="/config/login?redirect_loc={{redir}}" method="POST">
        <h3><label>Configuration Check</label></h3><br>
        <label for="cptn_pwd">Captain Password:</label><br><input type="password" id="cptn_pwd"
            name="cptn_pwd"><br><input type="submit" value="Submit">
    </form>

    {% if error :%} <div>Wrong Password!!!</div>{%endif%}
</div>
{% endblock %}